/* generic styling */

.huge, .big, .norm, .wee .tiny {
 /*text-align:left; */
 font-weight:normal;
}
.huge {font-size: 2em;}
.big {font-size: 1.5em;}
.norm {font-size: 1em;}
.wee  {font-size: .8em;}
.tiny {font-size: .6em;}


.hilite {
 color:#000; 
 background-color:#FAA;
}
.light {color:#777;}
.bright {color:#F30;}
.spaced { margin:2em 0;}
<<<<<<< HEAD:site/evoke/css/evoke.css
/*
form {
 padding:0.5em;
}
*/
=======

form {
 padding:0.5em;
}

>>>>>>> 2ac8a5b94b8b00c21b149ac254a894c87a947b35:site/css/evoke.css
select, button {
cursor:pointer;
}

/* tables */
table {
 vertical-align:top;
 border-collapse: collapse;
 margin:.3em .1em;
 vertical-align:top;
 text-align: left;
}

th,td {
 border:1px solid #AAA;
 padding:.2em;
}

.subtle th, .subtle td {
 border: none;
 padding: .2em .6em;
}

/* lists */
ul,ol {
margin-top: .5em;
margin-bottom: .5em;
}

/* images */
img { 
margin: 0;
padding: 0;
border-style:none;
border: none;
}
.image_left,.image_right{
 margin: .3em;
 display:inline;
 text-align:center;
}
.image_right {
 float:right;
 margin-left: .7em;
}
.image_left{
 float: left;
 margin-right: .5em;
}
.image_left img,.image_right img{
 display:inline;
}
.image_center{
 display: block;
 margin:auto;
 text-align:center;
}
.image_left span , .image_right span , .image_center span{
 display:block;
}


.text{
 padding-bottom:1em;
}

/* generated text styles for lib.TEXT() */
/* broken links */
.broken {
 color:#800;
}


/*generic messages*/

#message, #warning, #error {
border: solid 0.1em #AAA;
padding: 0.2em
 }

#message {
color:#000;
background-color: #ddffa1;
 }

#warning {
color:#000;
background-color: #ffe280;
font-weight:bold;
 }

#error {
color: #fffd1e;
background-color: #ff6600;
font-weight:bold;
 }



/*********** Page styling *************/ 

#content {
padding: 1em 0;
}
/*
.page-actions {
background-color: #DDD;
padding: .2em;
margin:  .2em 0;
}

#pageoptions .selected a , #pageoptions .selected {
color:#333;
}
*/

/* for small phone screens, remove the float */
/*
@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
 #searchform {float:none; padding:0}
}
*/

#next_item {
 float:right;
}

/* rows */
.row {
text-align:justify; 
padding: 0.5em 0;
}

/* summaries */
.summary {
/* text-align:justify;*/
 border-top: 0.1em solid #DDD;
 padding:1em 0;
}

.summarytext {
 clear:both;
}

/*
.text{
width: auto !important;
}
*/

/* edit action buttons */
.acts img{
 height:16px;
}


/********************** ratings ********************/

#rating {
float:right;
}

#rate a, #rate a:hover{
text-decoration: none;
}

#rate a {
color:#FFF;
}

#rate a.enabled {
color:#444;
}

#rate a.disabled {
color:#CCC;
}

#rate a:hover{
color:#F44;
}

#rate a.plus:hover{
color:#4F4;
}

.rate-down, .enabled, .disabled, .rate-up{
font-size: 2em;
}

/******************* user ******************/

#user {
float:right;
 }

#user .username a {
/*background: url('/site/images/system/user.gif') center left no-repeat;*/
background-color:transparent;
 }

#user .logout a {
margin:0 1em 0 0.4em; 
font-size: 0.7em;
 }

