# Nifty configuration file.
#
# Each section lists parameters required by a pipeline step.

manualMode = False
over = True
merge = True
scienceDirectoryList = ['/Users/nat/tests/core/linearPipelineTest/HD141004/20100401/K/obs107']
telluricDirectoryList = ['/Users/nat/tests/core/linearPipelineTest/HD141004/20100401/K/Tellurics/obs109']
calibrationDirectoryList = ['/Users/nat/tests/core/linearPipelineTest/HD141004/20100401/Calibrations_K']

[linearPipelineConfig]
sort = False
calibrationReduction = False
telluricReduction = False
scienceReduction = True

[sortConfig]
rawPath = '/Users/nat/data/TUTORIAL'
program = ''
skyThreshold = 2.0
sortTellurics = True
date = ''
copy = ''

[calibrationReductionConfig]
baselineCalibrationStart = 1
baselineCalibrationStop = 4

[telluricReductionConfig]
telStart = 1
telStop = 6
telluricSkySubtraction = True
spectemp = ''
mag = ''
hline_method = 'vega'
hlineinter = False
continuuminter = False

[scienceReductionConfig]
sciStart = 6
sciStop = 6
scienceSkySubtraction = True
telluricCorrectionMethod = 'gnirs'
telinter = False
fluxCalibrationMethod = 'gnirs'
use_pq_offsets = True
im3dtran = True

# Good luck with your Science!
