[buildout]
find-links = http://pypi.python.org/simple/zc.buildout
             http://pypi.python.org/simple/setuptools
             https://pypi.python.org/simple/WebOb
             http://pypi.python.org/simple/WebTest
develop = .
parts = test checker coverage-test coverage-report py
versions = versions


[versions]
zc.recipe.egg = 1.3.2
lxml = 3.6.0


[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = p01.publisher [test]


[checker]
recipe = p01.recipe.setup:importchecker
path = src/p01/publisher


[coverage-test]
recipe = zc.recipe.testrunner
eggs = p01.publisher [test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')


[py]
recipe = zc.recipe.egg
eggs = p01.publisher
interpreter = python
