/* Styling for the article list. */

/* Article list item */
.article-list-item {
    padding: 15px;
    margin: 0;
    border-top: 1px solid #b5b5b5;
}
.article-list-item:first-child {
    border-top: none;
}

/* Article list thumbnail */
.article-list-item .media-object {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Customizations for small screens */
@media (max-width: 550px) {
	.article-list-item .media-object {
        width: 100px;
		height: 100px;
    }
    .media-heading {
        font-size: 17px;
    }
    .article-meta span {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 10px;
    }
}