/* Styling for the article form. */

/* Article file items */
.article-file-item {
    border-top: 1px solid #b5b5b5;
    margin-top: 0;
}
.article-list-item:last-child {
    border-bottom: 1px solid #b5b5b5;
}

/* The article image thumbnail */
.article-file-item .media-object {
    width: 125px;
    height: 125px;
    object-fit: cover;
    margin-bottom: 5px;
}

/* The article file URL field */
.article-file-url {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Article file options */
.media-body {
    text-align: right;
}

/* Misc */
#article-file-upload-message span {
    display: block;
    margin-top: 10px;
}
#article-file-upload-message span.error {
    color: #ff0000;
}
.article-file-delete {
    margin-top: 5px;
    margin-bottom: 5px;
}
.article-file-delete .error {
    color: #ff0000;
}
