/* Styling for web forms. */

/* Bootstrap form inputs */
.form-control {
    box-shadow: none;
    border-radius: 0;
}

/* Form submit message */
.form-submit-message {
    padding-left: 10px;
}
.form-submit-message .error {
    color: #ff0000;
}