/*搜索区域tag样式*/
.search-tags {
  margin-top: 5px;
  overflow: hidden;
}
.search-tags .tag-list {
    display: inline;
    padding-right: 5px;
    width: auto;
}
.search-tags .activate {
    background: #4b8ccb none repeat scroll 0 0;
    color: #fff;
}
.search-tags .activate strong {
    color: #fff;
}
.search-tags label {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border-radius: 2px;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    padding: 1px 8px;
    text-align: center;
    text-indent: 0px;
    margin-right: 3px;
}
.search-tags label.activate:hover {
  background: #4b8ccb none repeat scroll 0 0;
}
.search-tags label:hover {
  background-color: #e6e9eb;
}
label {
    font-family: Tahoma;
    vertical-align: middle;
}
.search-tags label input {
    display: none;
}