/* custom font
----------------------------------------------------------------------------------------------------*/
@font-face {    
  font-family: 'wbficonregular';    
  src: url("/static/baseframe/img/font/wbficon.eot?id=201411201230") ;    
  src: url("/static/baseframe/img/font/wbficon.eot?id=201411201230#iefix")  format('embedded-opentype'),         
  url("/static/baseframe/img/font/wbficon.svg?id=201411201230")  format('svg'),        
  url("/static/baseframe/img/font/wbficon.woff?id=201411201230")  format('woff'),         
  url("/static/baseframe/img/font/wbficon.ttf?id=201411201230")  format('truetype');  
  src: url("/static/baseframe/img/font/wbficon.eot?id=201411201230") \9;    
  font-weight: normal;    
  font-style: normal;
}

.W_ficon {
  font-family: "wbficonregular" !important;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper { 
  min-height: 100%; 
  background-color: #ffffff;
}

.header {
  height: 69px;
  width: 100%;
  background-color: #009def;
  border-bottom: 1px solid #008bd7;
  position: fixed;
  left: 0px;top: 0px;
}
.header_height-offset {
  height: 70px;
}
.logo {
  /*background: url("{% static 'baseframe/img/layout/logo.png' %}") repeat-x left top;*/
  padding: 12px;
  padding-left: 26px;
  padding-right: 10px;
}
.sysname {position: absolute;left: 94px;top: 25px;color: #ebecf0;}

.toolbar_nav {
  position: absolute;
  left: 403px;
  top: 0px;
  height: 69px;
  width: 97px;
}
.toolbar_nav a {
  display: block;
  width: 97px;
  height: 69px;
  line-height: 69px;
  text-align: center;
}
.toolbar_nav a:hover {
  background-color: #0095e5;
}

.toolbar_nav.open a {
  background-color: #fff;
}

.toolbar_nav_menu {
  position: relative;
  left: 0px;
  top: 0px;
  background-color: #fff;
  width:800px;
  /*height: 300px;*/
}

.topbar-nav-col {
  float: left;
  /*border-right: 1px solid #ccc;*/
  padding: 10px;
}

.dropdown.open .W_ficon {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.topbar-nav-item-title {
  color: #999;
  font-weight: 600;
  margin: 3px 0;
}

.toolbar_nav .W_ficon {
  font-size: 19px;
  color: #ebecf0;
  display: inline-block;
    text-align: center;
    vertical-align: middle;
    transition: transform 0.2s,vertical-align 0.2s;
    -o-transition: transform 0.2s,vertical-align 0.2s;
    -ms-transition: transform 0.2s,vertical-align 0.2s;
    -moz-transition: transform 0.2s,vertical-align 0.2s;
    -webkit-transition: transform 0.2s,vertical-align 0.2s;
}

.open .W_ficon {
  color: #333;
}

.header_nav {
  position: absolute;
  left: 500px;
  top: 0px;
  height: 69px;
}
.header_nav ul li {
  float: left;
}
.header_nav ul li a {
  display: block;
  width: 97px;
  height: 69px;
  margin: 0px auto;
  text-align: center;
  border-right: 1px solid #19abfa;
}
.header_nav ul li.first {
  border-left: 1px solid #19abfa;
}
.header_nav ul li a span {
  display: block;
}

.header_nav ul li.selected a {
  background-color: #0b92db;
}
.header_nav ul li:hover {
  background-color: #0095e5;
}
.nav_icon {
  display: block;
  margin: 0px auto;
  padding-top: 11px;
  padding-bottom: 0px;
}
.nav_text {
  font-family:"微软雅黑";
  font-weight: bold;
  font-size: 14px;
  color: #ebecf0;
}


.header_user {
  position: absolute;
  right: 10px;
  top:8px;
  color: #ebecf0;
  font-family:"微软雅黑";
  font-size: 14px;
  font-weight: bold;
}

.header_user span, a {color: #fff;}
.header_user a:hover {text-decoration:  underline;}
.header_user a:active, a:link, a:visited {color: #757575;}
.header_user ul li {float: left; margin-right: 8px;}
.header_user .header_user_menu li {
  float: none;
  margin-right: 0;
}

.header_user_menu {
  position: absolute;
  right: 5px;
  top:35px;
  width: 200px;
  color: #757575;
  font-family:"微软雅黑";
  font-weight: bold;
  font-size: 13px;
  background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
    display: none;
}
.header_user_menu a:hover {text-decoration:  underline;}
.header_user_menu a:active, a:link, a:visited {color: #757575;}

.header_user_menu li {
  display: block;
  line-height: 30px;
  height: 30px;
  text-indent: 24px;
  padding: 2px 10px;
}
.header_user_menu li:hover {
  background-color: #ebedf3;
}

.icon_change {background: url('/static/baseframe/img/icon/icon_change.png') no-repeat 12px center;}
.icon_reset {background: url('/static/baseframe/img/icon/icon_reset.png') no-repeat 12px center;}
.icon_exit {background: url('/static/baseframe/img/icon/icon_exit.png') no-repeat 10px center;}



.main {padding-left: 202px;}
.content {padding: 0px 10px;}

.dropdown-menu {
  display: none;
}
.open .dropdown-menu {
  display: block;
}


/* sidebar
----------------------------------------------------------------------------------------------------*/
.sidebar {
  width: 202px;
  position: fixed;
  left: 0;
  top: 0; 
  bottom: 0;
  margin-top:70px;
  background-color: #e6e9eb;
  overflow-x: hidden;
  transition: opacity 0.1s ease 0s;
}

.sidebar-content {
  width: 222px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-fold {
  -moz-user-select: none;
  background: #e6e9eb;
  color: #aeb9c2;
  cursor: pointer;
  font-size: 16px;
  height: 33px;
  line-height: 33px !important;
  text-align: center;
  width: 202px;
}


.view-sidebar-mini .sidebar {
  width: 50px;
}

.view-sidebar-mini .sidebar-content {
  width: 70px;
}

.view-sidebar-mini .sidebar-fold {
  width: 50px;
}

.sidebar-nav .sidebar-title {
  -moz-user-select: none;
  background: #dadde0;
  color: #333;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
}

.sidebar-nav .sidebar-title:hover {
  background-color: #cdd0d4;
}

.sidebar-nav .sidebar-title-icon {
    display: inline-block;
    margin: 0 8px 0 20px;
    transition: transform 0.12s ease 0s;
    vertical-align: middle;
    color: #68696a;
    cursor: pointer;
}

.view-sidebar-mini .sidebar-title-text {
  display: none;
}

.sidebar-trans {
    transition: all 0.12s ease 0s, all 0.12s ease 0s;
}

.sidebar-nav-fold ul {
    height: 0 !important;
    overflow: hidden;
}
.sidebar-nav-fold .sidebar-title-icon {
    transform: rotate(-90deg);
}
.sidebar-nav-fold .sidebar-title {
    background: #37424f none repeat scroll 0 0;
    border-bottom: 1px solid #414d5c;
}

.sidebar-nav ul {
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.sidebar-nav li a {
    display: block;
    height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    width: 100%;
    background-color: #e6e9eb;
}

.sidebar-nav .nav-item.selected a {
  background-color: #3c95c8;
  color: #fff;
}

.sidebar-nav li a:hover {
  background-color: #cdd0d4;
}

.sidebar-nav li:selected a {
  background-color: #3c95c8;
}

.sidebar-nav .nav-icon {
    width: 50px;
    color: #aeb9c2;
    float: left;
    font-size: 16px;
    text-align: center;
    width: 50px;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    vertical-align: middle;
}

.sidebar-nav .nav-icon img {
  width: 16px;
  height: 18px;
  vertical-align: middle;
  /*filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;*/
}

.sidebar-nav .nav-title {
    color: #333;
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
}

.view-sidebar-mini .nav-title {
  display: none;
}

/* list page
----------------------------------------------------------------------------------------------------*/
.listpage {
  
}