/*
  HS System ~ Page CSS.
  Learn more ~ http://1008611.net/
*/

/* `paginator HTML
----------------------------------------------------------------------------------------------------*/
.paginator {
      color: #000;
      text-align: right;
      margin-right: 10px;
  }
.paginator a, .thispage, .break {
    margin: 0px;
    padding: 4px 8px;
    background: #addbff;
}
.paginator a:hover {
  background: #fff;
}
.paginator a:active {
  background: none repeat scroll 0 0 #357AE8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.paginator .prev {
    margin-right: 10px;
}
.paginator .next {
    margin-left: 10px;
}
.paginator .next a, .paginator .prev a {
    margin: 0;
    padding: 4px 8px;
}
.paginator .count {
    margin-left: 10px;
    float: left;
}
.paginator .thispage {
    background: none repeat scroll 0 0 #83BF73;
    color: #FFFFFF;
}
.paginator .break {
    color: #999999;
}
.paginator .thispage {
    background: none repeat scroll 0 0 #4D90FE;
    color: #FFFFFF;
}
.paginator .break {
    color: #999999;
}

/* `gridview HTML
----------------------------------------------------------------------------------------------------*/
.gridview {
    width: 100%;
    table-layout: fixed;
}
.gridview th {
    border: 1px solid #4D90FE;
}
.gridview thead tr {
  height: 30px;
  line-height: 30px;
  background: #89c6f6;
}
.gridview thead th {
  font-weight: bold;
  overflow: hidden;
  padding: 0 5px;
  white-space: nowrap;
  word-break: keep-all;
  vertical-align: middle;
}
.gridview tbody tr {
  height: 26px;
  line-height: 26px;
}
.gridview tbody td {
  padding: 0px 5px;
}
.gridview tbody tr {
  background: #addbff;
}
.gridview tbody td {
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    vertical-align: middle;
    border: 1px solid #4D90FE;
}
.gridview tbody tr:hover {
  background: #4D90FE;
  color: #fff;
}
.gridview tr.alterRow {
  background: #c3e5ff;
}
.gridview .header_order {
  width: 35px;
  text-align: center;
}
.gridview .col_order {
  text-align: center;
  vertical-align: middle;
}
.gridview .header_handler {
  text-align: center;
  vertical-align: middle;
  width: 60px;
}
.gridview .header_datetime {
  width: 120px;
}

/* `box HTML
----------------------------------------------------------------------------------------------------*/
.box {
  margin-bottom: 0px;
}
.box_title {
  height: 38px;
  line-height: 38px;
  background: url('/static/baseframe/img/layout/boxtitlebg.png') repeat-x left top;
  text-indent: 16px;
  color: #fff;
  font-family:"微软雅黑";
  font-weight: bold;
  font-size: 15px;
}
.box_content {
  background-color: #addbff;
  margin-top: 1px;
  padding: 10px;
}

/* `Button HTML
----------------------------------------------------------------------------------------------------*/
.btn {
  color: #fff;
}
.btn:hover {
  text-decoration: underline;
}
.btn span {
  font-size: 12px;
}
.btn_export {
  background: url('/static/baseframe/img/layout/export.png') no-repeat left top;
  padding-left: 25px;
}
.btn_import {
  background: url('/static/baseframe/img/layout/import.png') no-repeat left top;
  padding-left: 25px;
}
.btn_add {
  background: url('/static/baseframe/img/layout/add.png') no-repeat left top; 
  padding-left: 25px;
}
.btn_return {
  background: url('/static/baseframe/img/layout/return.png') no-repeat left top; 
  padding-left: 25px;
}
.btn_search {
  box-sizing: content-box;
  background-color: #4D90FE;
  background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
  border: 1px solid #3079ED;
  box-shadow: none;
  color: #FFFFFF;
  border-radius: 2px;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  min-width: 54px;
  outline: 0 none;
  padding: 0 8px;
  text-align: center;
  white-space: nowrap;
}
.btn_search:active {
  background: none repeat scroll 0 0 #357AE8;
  border: 1px solid #2F5BB7;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.form_text {
  border: 1px solid #C0C0C0;
  transition: all 0.218s ease 0s;
  padding: 2px;
}
.form_text:hover,.form_text:active {
  /*border: 1px solid #2F5BB7;*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.from_datetime {
  background:#fff url('/static/baseframe/img/icon/icon-datePicker.gif') no-repeat right top;
}

/* `Common HTML
----------------------------------------------------------------------------------------------------*/
.red{background-color: red; color: #fff;}
.redcolor{color: red;}
