body, .content{
  background-color: rgb(255, 47, 47);
}
.suAhorro{
	color: rgb(247, 244, 17);
}

.precioActual{
	color: rgb(71, 208, 67);
	font-size: 7em;
}

.precioOriginal{
	color: rgb(255, 255, 255);  
	font-size:1.5em; 
	text-decoration:line-through;
}

.articuloNombre{
	color: rgb(255, 255, 255);  
	font-size:3.5em; 
}

.errorMessage{
	color: rgb(255, 255, 255);
}