/* Base stylesheet for articles. */

/* Article metadata */
.article-meta {
    margin-bottom: 5px;
}
.article-meta span {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 11px;
}
.article-meta .date-time {
    color: #ffffff;
    background-color: #a0a0a0;
}
.article-meta .article-hidden {
    color: #ffffff;
    background-color: #f44336;
}

/* Article thumbnail links */
.homepage-article-thumbnail h1 a,
.media-heading {
    display: block;
    color: #000000;
}
.homepage-article-thumbnail h1 a:hover,
.media-heading:hover {
    color: #b5b5b5;
    text-decoration: none;
}
.media-heading {
    font-size: 25px;
}
