/* Container customizations */
.container {
    background: transparent;
}
.container:not(.default) {
    max-width: 850px;
}

/* Site content */
.card {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
}

.card.no-margin {
    margin: 0 !important;
}
.card.no-padding {
    padding: 0 !important;
}
.card.margin-right {
    max-width: calc(100% - 10px);
    margin-right: 10px !important;
}
.card.margin-left {
    max-width: calc(100% - 10px);
    margin-left: 10px !important;
}
.card.heading {
    background: none;
    color: #E1E1E1;
    margin: 0;
    padding-top: 5px;
}
.card.header h1,
.card.header h2,
.card.header h3,
.card.header h4,
.card.header h5,
.card.header h6 {
    margin: 0;
}

.banner {
    max-height: 500px;
    overflow-y: hidden;
}
.banner img {
    width: 100%;
}

/* Bootstrap columns */
.col {
    padding-right: 7px;
    padding-left: 7px;
}

/* Pagination */
ul.pagination {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}
