@page {
 size: A4;
}

@page :left {
	margin-left: 30cm;
}

@page :right {
	margin-left: 4cm;
}

@bottom-left {
	margin: 10pt 0 30pt 0;
	border-top: .25pt solid #666;
	content: "Our Cats";
	font-size: 9pt;
	color: #333;
}

@bottom-right {
	margin: 10pt 0 30pt 0;
	border-top: .25pt solid #666;
	content: counter(page);
	font-size: 9pt;
}

@top-right {
	content: string(doctitle);
	margin: 30pt 0 10pt 0;
	font-size: 9pt;
	color: #333;
}


body { font-size:10pt; background: white; color: black; }

.header, .copyright, #btn_print {
	display: none;
}

.listWrapper, .maptools, .todo {
	display: none;
}

.box_title { 
	text-align: center;
	border-left: 0px solid #4285f4;
}