#clb-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
}
#clb-overlay div {
    position: fixed;
    width: 400px;
    min-width: 400px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;
    background: #fff;
    box-shadow: 0 2px 16px #666;
}
#clb-overlay h3 {
    font-size: 16px;
    line-height: 20px;
}
#clb-overlay .clb-continue-button {
    float: right;

    color: #FFF;
    border: 1px solid #3076BF;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #D34F4F), color-stop(100%, #BF3030));
    background-image: -webkit-linear-gradient(#309bbf,#309bbf);
    background-image: -moz-linear-gradient(#309bbf,#309bbf);
    background-image: -o-linear-gradient(#309bbf,#309bbf);
    background-image: linear-gradient(#309bbf,#309bbf);
}
#clb-overlay .clb-cancel-button {
    float: left;

    color: #FFF;
    border: 1px solid #AB2B2B;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #D34F4F), color-stop(100%, #BF3030));
    background-image: -webkit-linear-gradient(#D34F4F,#BF3030);
    background-image: -moz-linear-gradient(#d34f4f,#bf3030);
    background-image: -o-linear-gradient(#d34f4f,#bf3030);
    background-image: linear-gradient(#D34F4F,#BF3030);
}
#clb-overlay .clb-footer-row {
    position: absolute;
    height: 50px;
    bottom: 0;
}
#clb-overlay code {
    font-family: Menlo, Courier, "Courier New", monospace;
}

